.tickets {
  background-color: #fafafa;
  width: 100%;
  width: calc(100dvw - 280px);
  height: calc(100dvh - 100px);
  padding: 2rem;
}

.tickets_title {
  color: #333;
}

.tickets_empty {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  color: #555;
}

@media only screen and (max-width:900px) {
  .tickets {
    width: calc(100dvw - 230px);
}

}

@media only screen and (max-width: 666px) {
  .tickets {
    width: calc(100dvw - 70px);
}
}


@media only screen and (max-width: 480px) {
  .tickets {
    padding: 2rem 1rem;
  }
}
@media only screen and (max-width: 380px) {
  .tickets {
    padding: 2rem 0.5rem;
  }
}
