.details{
   flex: 1;
}

.review{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
}

.review_text{
    color: #18b118; 
}

.review_text_red{
    color: red; 
}

.review_icons{
    display: flex;
    gap: 5px;
}

.review_icon{
    color: #ffd40d;
}

.review_count{
    font-size: 1.2rem;
    color: #333;
}

.details_title {
    font-size: 2.8rem;
    padding-top: 1.5rem;
}

.details_price{
    padding-top: .9rem;
    font-size:1.8rem ;
}

.details_price2{
    color: #f0abfc;
    padding-right: 10px;
    font-size:2.8rem;

}

.details_text2{
    padding-top:2rem;
    font-size: 1.1rem;
    padding-bottom: .5rem;
}

.details_text3{
color: #555;
font-size: 1.1rem;
}

.buy{
    display: flex;
    align-items: center;
    gap:2.5rem;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #dadada;
}

.counterBtn{
    display: flex;
    align-items: center;
  
}

.showCount{
    width: 35px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.plusBtn, .minusBtn{
    background-color: #dadada;
    width: 45px;
    height: 45px;
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius:12px;
    cursor: pointer;
}


.addBtn{
    width: 350px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 7px;
    background-color: #f0abfc;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}



.tags{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 1rem;
}

.tag{
    color: #d946ef;
    font-size: 1.1rem;
}

@media only screen and (max-width:600px) {
    .details_title{
        font-size: 2rem;
    }

    .details_price{
        font-size:1.3rem ;
    }

    .details_price2{
        font-size: 2rem;
    }

    .addBtn{
        width: 250px;
    }
 }


 @media only screen and (max-width:480px) {
    .details_title{
        font-size: 1.5rem;
    }

    .details_price{
        font-size:1rem ;
    }

    .details_price2{
        font-size:1.5rem;
    }

    .addBtn{
        width: 180px;
        font-size: 1rem;
    }

    .review{
        font-size: 1rem;
        gap: 1rem;
    }

    .buy{
        gap: 1rem;
    }
 }
 @media only screen and (max-width:360px) {
    .details_title{
        font-size: 1.2rem;
    }

    .details_price{
        font-size:1rem ;
    }

    .details_price2{
        font-size:1.2rem;
    }

    .addBtn{
        width: 130px;
        text-align: center;
        font-size: .9rem;
        padding: 0 10px;
    }

    .review{
        flex-wrap: wrap;
        font-size: 1rem;
        gap: 1rem;
    }



    .details_text2{
 
        font-size: .95rem;
     
    }
    
    .details_text3{
   
    font-size: .95rem;
    }

    .plusBtn, .minusBtn{
        width: 35px;
        height: 35px;
    }
 }