.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.table {
  width: 100%;
}

.table_wrapper {
  overflow: auto;
  width: 70%;
}

.table_head {
  background-color: #f4f4f4;
}

.table_title {
  padding: 10px;
  min-width: 100px;
}

.table_col {
  padding: 10px;
}

.table_row {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.product_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.product_img {
  border-radius: 15px;
}

.remove_product {
  background-color: unset;
  border: none;
  outline: none;
  color: red;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 900;
}

.count_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count_btn {
  width: 30px;
  height: 35px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #dadada;
  color: #555;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 35px;
  border: 2px solid #dadada;
  border-left: none;
  border-right: none;
  color: #555;
}

.discount_wrapper {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  width: 35%;
  gap: 0.5rem;
}

.discount_input {
  height: 40px;
  padding: 0 0.5rem;
  width: 80%;
  border: 1px solid #777;
  border-radius: 5px;
}

.discount_btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #f0abfc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.factor {
  flex: 1;
  border: 3px solid #dadada;
  border-radius: 10px;
  padding: 2rem;
}

.factor_title {
  font-size: 1.5rem;
  color: #333;
}

.factor_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #dadada;
}

.factor_part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.factor_part3 {
  border-bottom: none;
}

.factor_address {
  cursor: pointer;
  color: #333;
}

.factor_text {
  font-size: 1.05rem;
  color: #333;
  text-align: center;
}

.factor_text2 {
  color: #777;
}

.factor_total {
  color: #333;
  font-size: 1.4rem;
}

.pay_btn {
  margin-top: 1rem;
  width: 100%;
  height: 47px;
  border: none;
  background-color: #f0abfc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  .table_wrapper {
    width: 60%;
  }

  .factor {
    width: 40%;
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 870px) {
  .discount_wrapper {
    margin: 0 auto;
    width: 50%;
    margin-top: 4rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .table_wrapper {
    width: 100%;
    overflow: hidden;
  }

  .factor {
    width: 70%;
    padding: 2rem;
  }
}

@media only screen and (max-width: 536px) {
  .table {
    padding: 1rem;
  }
  .table_wrapper {
    width: 100%;
    overflow: auto;
    padding-bottom: 4rem;
  }
  .discount_wrapper {
    margin: 0 auto;
    width: 100%;
    margin-top: 2rem;
  }

  .factor {
    width: 100%;
    padding: 2rem;
  }
}
