.cart_wrapper {
    padding: 4rem;
  }

  @media only screen and (max-width: 650px) {
    .cart_wrapper {
      padding: 2rem;
    }
  }
  
  
  @media only screen and (max-width: 500px) {
    .cart_wrapper {
      padding:2rem 1rem;
    }
  }
  