.contact_wrapper {
    padding: 4rem;
  }
  
  .contact_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  
  }
  
  
  @media only screen and (max-width: 850px) {
    .contact_container{
      flex-direction: column;
      gap: 3rem;
      justify-content: center;
      align-items: center;
    }
    
  }
  
  
  @media only screen and (max-width: 500px) {
    .contact_wrapper {
      padding: 2rem;
    }
  }
  
  
  