.rules_wrapper {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.rules_title{
    color: #666;
}

.rules_text{
    line-height: 38px;
    color: #555;
}



@media only screen and (max-width: 500px) {
  .rules_wrapper {
    padding: 2rem;
  }
}


