.toUpBtn{
    position:fixed;
    bottom:5rem;
    left: 1rem;
    z-index: 999999;
    border-radius: 50%;
    background-color:#f5d0fe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.toUpBtn_hidden{
    visibility:hidden;
    opacity: 0;
}

.toUpBtn_icon{
    font-size: 1.5rem;
}