.table {
    margin-top: 2rem;
    width: 100%;
    
  }
  
  .table_wrapper {
    overflow: auto;
  }
  
  .table_head {
    background-color: #f4f4f4;
  }
  
  .table_title {
    padding: 10px;
    min-width:100px;
  }
  
  .table_col {
    padding: 10px;
  }
  
  .table_row {
    background-color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .status {
    background-color: #c026d3;
    color: #fff;
    padding: 2px 16px;
    border-radius: 10px;
    font-size: 0.9rem;
  }
  
  .btn {
    color: #fff;
    padding: 2px 22px;
    border-radius: 10px;
    font-size: 0.9rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .seen_btn {
    background-color: #2e1065;
  }
  
  .answer_btn {
    background-color: #c026d3;
  }
  .remove_btn {
    background-color: #ec4899;
  }
  .accept_btn {
    background-color: #9333ea;
  }
  
  .ban_btn {
    background-color: #ef4444;
  }
  
  @media only screen and (max-width: 500px) {
    .table {
      padding: 1rem;
    }
  }
  