

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

body {
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}


ul{
  list-style-type: none;
}


/*swiper*/
.swiper-button-next::after ,.swiper-button-prev::after{
  color: #fff;

}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}



/*swiper*/
/*swal*/
.swal-footer{
  text-align: center;
}

.swal-button{
  background-color:#fbcfe8;
}

.swal-button:not([disabled]):hover{
  background-color:#fbcfe8;
}

.swal-button--cancel{
  background-color: #d4d4d8;
}

.swal-button--cancel:not([disabled]):hover{
  background-color: #d4d4d8;
}
/*swal*/
