@font-face {
  font-family: shabnam;
  src: url("/fonts/shabnam/Shabnam-Medium.ttf") format(truetype);
}

@font-face {
  font-family: shabnam-Thin;
  src: url("/fonts/shabnam/Shabnam-Thin.ttf") format(truetype);
}

@font-face {
  font-family: shabnam-Bold;
  src: url("/fonts/shabnam/Shabnam-Bold.ttf") format(truetype);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: shabnam;

}

body {
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}


ul{
  list-style-type: none;
}


/*swiper*/
.swiper-button-next::after ,.swiper-button-prev::after{
  color: #fff;

}

/*swiper*/
/*swal*/
.swal-footer{
  text-align: center;
}

.swal-button{
  background-color:#fbcfe8;
}

.swal-button:not([disabled]):hover{
  background-color:#fbcfe8;
}

.swal-button--cancel{
  background-color: #d4d4d8;
}

.swal-button--cancel:not([disabled]):hover{
  background-color: #d4d4d8;
}
/*swal*/
