@font-face {
  font-family: shabnam;
  src: url("/fonts/shabnam/Shabnam-Medium.ttf") format(truetype);
}

@font-face {
  font-family: shabnam-Bold;
  src: url("/fonts/shabnam/Shabnam-Bold.ttf") format(truetype);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: shabnam;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
