.comments{
    background-color: #fafafa;
    width: 100%;
    height: calc(100dvh - 100px);
    padding: 2rem;

  }

  .comments_title {
    color: #333;
  }


  @media only screen and (max-width: 480px) {
    .comments {
      padding: 2rem 1rem;
    }
  }
  @media only screen and (max-width: 380px) {
    .comments {
      padding: 2rem 0.5rem;
    }
  }
  