.index_wrapper{
    background-color: #fafafa;
    width: 100%;
    height:calc(100vh - 88px); 
    padding: 4rem;
}

.box_container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}



@media only screen and (max-width:480px) {
    .index_wrapper{
        padding:2.5rem 1.5rem;
    }
 }
@media only screen and (max-width:380px) {
    .index_wrapper{
        padding:2.5rem 1rem;
    }
 }