.ticket{
    width: 100%;
    padding: 1rem;
    background-color: #c026d3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}


.ticket_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: .8rem;
    flex-wrap: wrap;
}

.ticket_date{
    font-size: .85rem;
}

.ticket_support{
    background-color: #2e1065;
    padding:.5rem ;
    font-size: .8rem;
    border-radius: 10px;
}


@media only screen and (max-width:500px) {
    .ticket_msg ,.ticket_status{
     font-size: .9rem;
    }
    .ticket_date{
     font-size: .8rem;
    }
    
    }